.center {
   text-align: center;
   margin: auto;
}

header>h1 {
   text-shadow: 0 0 0.5px black, 0 0 50px red;
   color: pink;
   font-size: 250%;
}

#titleLetter {
   animation: forTitleLetter 2s linear infinite;
}

#openEvent {
   animation: forOpenEvent 4s linear;
}

#container {
   display: flex;
   flex-direction: row;
}

.babies {
   font-weight: bold;
}

.getFish {
   font-style: italic;
   color: hotpink;
   text-align: center;
}

.whySupport {
   font-style: italic;
   border-top: 1.5px solid #EC7063;
   border-bottom: 1.5px solid #EC7063;
   border-radius: 45px;
   padding: 20px;
   margin: 20px;
   background-color: #FFF0F5;
   text-align: center;
}

.fishTable {
   border: 1.5px solid hotpink;
   margin-left: auto;
   margin-right: auto;
}

#probably {
   color: orange;
}

body {
   background-image: linear-gradient(180deg, white, pink);
   font-family: 'Times New Roman', serif;
}

aside {
   flex: 0 1 30%;
}

main {
   flex: 0 1 40%;
}

nav {
   flex: 0 1 30%;
}

p.summary {
   font-size: 120%;
   font-style: italic;
}

p.summary>span {
   font-family: Georgia, serif;
   text-decoration-style: solid;
   font-size: 150%;
   font-style: italic;
   color: pink;
   text-shadow: 2px 2px black;
}

div.summary2 {
   text-align: justify;
}

.summary2>span {
   font-family: Georgia, serif;
   text-decoration-style: solid;
   font-size: 150%;
   font-style: italic;
   color: pink;
   text-shadow: 2px 2px black;
}

div.aside {
   margin: 40px;
   text-align: center;
}

div.nav {
   margin: 40px;
   text-align: center;
}

h4.aside {
   text-align: center;
}

h2.title {
   text-shadow: 0 0 4px violet, 0 0 50px red;
}

.fishiconMoving {
   position: absolute;
   animation: move 4s linear infinite;
   width: 5%;
   height: 5%;
}

.fishiconMoving2 {
   position: absolute;
   animation: move2 3s linear infinite;
   width: 5%;
   height: 5%;
}

.fishiconMoving3 {
   position: absolute;
   animation: move3 6s linear infinite;
   width: 5%;
   height: 5%;
   rotate: 180;
}

.fishicon {
   position: absolute;
   animation: flop 4s linear infinite;
}

.fishiconSpin {
   position: absolute;
   animation: spin 4s linear infinite;
}

@keyframes move {
   0% {
      left: 5%;
   }  
   50% {
      left: 20%;
   }
   100% {
      left: 5%;
   }
}

@keyframes move2 {
   0% {
      left: 5%;
   }
   50% {
      left: 20%;
   }
   100% {
      left: 5%;
   }
}

@keyframes move3 {
   0% {
      left: 5%;
   }  
   50% {
      left: 20%;
   }
   100% {
      left: 5%;
   }
}

@keyframes flop {
   0% {
      transform: rotate(0deg) scale(1.0, 1.0);
   }
   20% {
      transform: rotate(15deg) scale(1.0, 1.0);
   }
   30% {
      transform: rotate(0deg) scale(1.0, 1.0);
   }
   40% {
      transform: rotate(15deg) scale(1.0, 1.0);
   }
   45% {
      transform: rotate(0deg) scale(1.0, 1.0);
   }
   50% {
      transform: rotate(15deg) scale(1.0, 1.0);
   }
   60% {
      transform: rotate(0deg) scale(1.0, 1.0);
   }
   70% {
      transform: rotate(15deg) scale(1.0, 1.0);
   }
   80% {
      transform: rotate(0deg) scale(1.0, 1.0);
   }
   90% {
      transform: rotate(15deg) scale(0,8, 1.0);
   }
   100% {
      transform: rotate(0deg) scale(1.0, 1.0);
   }
}

@keyframes spin {
   from {
      transform: rotate(0deg) scale(0.8, 0.8);
   }
   to {
      transform: rotate(720deg) scale(0.8, 0.8);
   }
}

@keyframes forTitleLetter {
   0% {
      text-shadow: 0 0 4px violet, 0 0 50px red;
   }
   50% {
      text-shadow: 0 0 4px white, 0 0 50px red;
      color: #F1AAFB;
   }
   100% {
      text-shadow: 0 0 4px violet, 0 0 50px red;
   }
}

@keyframes forOpenEvent {
   0% {
      text-shadow: 0 0 0.5px black, 0 0 0px red;
      color: white;
   }
   3% {
      text-shadow: 0 0 0px black, 0 0 0px red;
      color: pink;
   }
   5% {
      text-shadow: 0 0 0px black, 0 0 0px red;
      color: white;
   }
   8% {
      text-shadow: 0 0 0px black, 0 0 0px red;
      color: pink;
   }
   12% {
      text-shadow: 0 0 0px black, 0 0 0px red;
      color: white;
   }
   29% {
      text-shadow: 0 0 0px black, 0 0 px red;
      color: white;
   }
   30% {
      text-shadow: 0 0 0px black, 0 0 0px red;
      color: pink;
   }
   31% {
      text-shadow: 0 0 0px black, 0 0 0px red;
      color: white;
   }
   32% {
      text-shadow: 0 0 0px black, 0 0 0px red;
      color: pink;
   }
   33% {
      text-shadow: 0 0 0px black, 0 0 0px red;
      color: white;
   }
   34% {
      text-shadow: 0 0 0px black, 0 0 0px red;
      color: pink;
   }
   35% {
      text-shadow: 0 0 0px black, 0 0 0px red;
      color: white;
   }
   36% {
      text-shadow: 0 0 0px black, 0 0 0px red;
      color: pink;
   }
   38% {
      text-shadow: 0 0 0px black, 0 0 0px red;
      color: white;
   }
   39% {
      text-shadow: 0 0 0px black, 0 0 0px red;
      color: pink;
   }

   42% {
      text-shadow: 0 0 0px black, 0 0 0px red;
      color: white;
   }
   65% {
      text-shadow: 0 0 0px black, 0 0 0px red;
      color: white;
   }
   100% {
      text-shadow: 0 0 0.5px black, 0 0 50px red;
   }
}